/* Show/Hide contentContainer */
.contentContainer {
  display: inherit;
}
.contentContainerHide {
  display: none;
}

/* Global */
.highlight {
  font-weight: bolder;
  background: linear-gradient(104deg, hsla(0, 100%, 75%, 0) .9%, #ff8282 2.4%, hsla(0, 100%, 75%, .5) 5.8%, hsla(0, 100%, 75%, .1) 93%, hsla(0, 100%, 75%, .7) 96%), linear-gradient(183deg, rgba(130, 255, 173, 0), rgba(255, 107, 152, .3) 7.9%, hsla(0, 100%, 75%, 0) 15%);
  padding: 0.6em 13.7px;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px hsla(0, 100%, 75%, .7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
}

/* Navbar - hide/show social icons */
.navIcon {
  display: inline;
}

@media (max-width: 991px) {
  .navIcon {
    display: none;
  }
}

.disabledLink {
  cursor: not-allowed;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.teamTitle {
  font-family: 'MSBee-Black', 'MSBee-Regular', 'Helvetica Neue', Helvetica, Arial, sans;
  /* font-family: 'MSBee-Regular', 'Helvetica Neue', Helvetica, Arial, sans; */
  /* Azuki Red */
  /* color: rgb(201, 60, 75); */
  color: rgb(0, 0, 0);
  margin: -1rem 0 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  /* padding: 200px; */
  width: var(--max-width);
  max-width: 100%;
}

.libertyCard {
  font-weight: bold;
  padding: 14rem 1.5rem 2rem;
  text-align: justify;
  color: rgb(0, 172, 238);
  margin: 1.5rem;
  box-shadow: 0 1px 5px #00000099;
  border-radius: 10px;
  background-size: cover;
  position: relative;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
  cursor: not-allowed;
  user-select: none;
}

.membership {
  color: rgb(130, 130, 130);
  text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}